/build
/bin
/CMakeLists.txt.user
/.kdev4
/strawberry.kdev4
/.vscode
/.code-workspace
/.sublime-workspace
/.idea
/.vs
/out
/CMakeSettings.json
/dist/scripts/maketarball.sh
/dist/unix/strawberry.spec
/dist/windows/strawberry.nsi
/debian/changelog
/dist/macos/Info.plist
