Source: strawberry
Section: sound
Priority: optional
Maintainer: Jonas Kvinge <jonas@jkvinge.net>
Build-Depends: debhelper (>= 7),
               make,
               cmake,
               gcc,
               protobuf-compiler,
               libglib2.0-dev,
               libdbus-1-dev,
               libgnutls28-dev,
               libprotobuf-dev,
               libboost-dev,
               libsqlite3-dev,
               libasound2-dev,
               libpulse-dev,
               libtag1-dev,
               libqt5-dev,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtbase5-private-dev,
               qttools5-dev,
               libqt5x11extras5-dev,
               libgstreamer1.0-dev,
               libgstreamer-plugins-base1.0-dev,
               libcdio-dev,
               libgpod-dev,
               libimobiledevice-dev,
               libmtp-dev,
               libplist-dev,
               libusbmuxd-dev,
               libchromaprint-dev,
               libfftw3-dev
Standards-Version: 3.9.8

Package: strawberry
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libsqlite3-0,
         libqt5sql5-sqlite,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         gstreamer1.0-alsa,
         gstreamer1.0-pulseaudio
Homepage: http://www.strawbs.org/
Description: Audio player and music collection organizer
 Strawberry is a music player aimed at music collectors, audio enthusiasts and audiophiles.
 .
 Features:
  - Play and organize music
  - Supports WAV, FLAC, WavPack, DSF, DSDIFF, Ogg Vorbis, Speex, MPC, TrueAudio, AIFF, MP4, MP3 and ASF
  - Audio CD playback
  - Native desktop notifications
  - Playlists in multiple formats
  - Advanced audio output and device configuration for bit-perfect playback on Linux
  - Edit tags on music files
  - Fetch tags from MusicBrainz
  - Album cover art from Lastfm, Musicbrainz, Discogs, Deezer and Tidal
  - Song lyrics from AudD, lyrics.ovh and lololyrics.com
  - Support for multiple backends
  - Audio analyzer
  - Audio equalizer
  - Transfer music to iPod, iPhone, MTP or mass-storage USB player
  - Streaming support for Tidal, Qobuz and Subsonic
  - Scrobbler with support for Last.fm, Libre.fm and ListenBrainz
 .
 It is a fork of Clementine. The name is inspired by the band Strawbs.
