#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

override_dh_auto_configure:
	dh_auto_configure -- \
	-DBUILD_WERROR=ON

override_dh_installchangelogs:
	dh_installchangelogs Changelog

%:
	dh $@
